/config.log
/config.status
/stamp-h1
/src/Makefile
/src/Makefile.in
/.anjuta/default.profile
/.anjuta_sym_db.db
/Makefile.in
/.ropeproject/config.py
/.ropeproject/history
/.ropeproject/objectdb
/Makefile
/log.txt
