/config.log
/config.status
/stamp-h1
/src/Makefile
/src/Makefile.in
/.anjuta
/.anjuta_sym_db.db
/Makefile.in
/.ropeproject
/Makefile
/log.txt
__pycache__
autom4te.cache
*~
/config.h
/configure
/Makecache
/.buildconfig
